numpy
pandas
streamlit
plotly
sktime
pmdarima
matplotlib
seaborn
scikit-learn
yfinance
lightgbm
prophet
statsmodels
geopandas
folium
xmltodict
streamlit-option-menu
millify
pingouin
jupyterlab
contextily
python-dotenv
streamlit_folium